@use '../styles/variables';

.subheader {
  margin-bottom: 0;
}

.datePublished {
  color: variables.$off1;
}

.content > ul {
  @media screen and (min-width: 980px) {
    list-style-position: outside;
    margin-left: 0;
  }
}

.content p + ul {
  margin-top: -0.5em;
}

.content p > img {
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
  display: block;
  margin: 1em auto;
}

.content blockquote p {
  border-left: 0.5em off3 solid;
  box-sizing: border-box;
  padding-left: 0.5em;
}

.content :global(.citation) {
  color: variables.$off1;
  margin-top: -1em;
  text-align: right;
}

.postNavList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-left: 0;
  padding: 0;
  position: relative;

  @media screen and (min-width: 480px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.postNavList span {
  flex: 1;
}

.postNavList a {
  display: flex;
  width: 100%;

  @media screen and (min-width: 480px) {
    flex-direction: column;
  }
}

.postNavList small {
  color: variables.$foreground;
  font-size: 0.5em;
  margin-left: 1em;
  order: 1;
  text-transform: uppercase;

  @media screen and (min-width: 480px) {
    line-height: 1;
    margin-left: 0;
    order: 0;
  }
}

.postNavList li:last-child small {
  @media screen and (min-width: 480px) {
    align-self: flex-end;
  }
}
