@value variables: '../styles/variables.css';
@value foreground, off1, off3 from variables;

.subheader {
  margin-bottom: 0;
}

.datePublished {
  color: off1;
}

@media screen and (min-width: 786px) {
  .content > ul {
    list-style-position: outside;
    margin-left: 0;
  }
}

.content p + ul {
  margin-top: -0.5em;
}

.content p > img {
  display: block;
  margin: 1em auto;
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
}

.content blockquote p {
  box-sizing: border-box;
  border-left: 0.5em off3 solid;
  padding-left: 0.5em;
}

.content :global(.citation) {
  color: off1;
  margin-top: -1em;
  text-align: right;
}

.postNavList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-left: 0;
  padding: 0;
  position: relative;
}

.postNavList span {
  flex: 1;
}

.postNavList a {
  display: flex;
  width: 100%;
}

.postNavList small {
  color: foreground;
  font-size: 0.5em;
  margin-left: 1em;
  text-transform: uppercase;
  order: 1;
}

@media screen and (min-width: 480px) {
  .postNavList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .postNavList a {
    flex-direction: column;
  }

  .postNavList small {
    margin-left: 0;
    order: 0;
    line-height: 1;
  }

  .postNavList li:last-child small {
    align-self: flex-end;
  }
}
