@use 'variables';

@mixin wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: variables.$readableLineCharacterWidth;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;

  @media screen and (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

