@use '../styles/variables';
@use '../styles/mixins';

.footer {
  background: variables.$subBackground;

  @media screen and (min-width: 768px) {
    margin-left: -30px;
  }
}

.footerWrapper {
  @include mixins.wrapper;
  max-width: 28rem;
  padding: 3rem 1rem;
  position: relative;
}

.avatar {
  display: block;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    left: -40px;
    position: absolute;
    top: 2rem;
  }
}


.footer {
  h2 {
    margin-bottom: 0.5rem;
  }

  a {
    color: variables.$footerLink;
  }

  li a {
    position: relative;
    top: 0;
    transition: top 0.2s ease-out;
  }

  a:hover {
    color: variables.$footerLinkHover;
  }

  p {
    margin-bottom: 0.5em;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 2em auto;
  }

  li {
    flex: 1 1;
    text-align: center;
  }

  li a:hover {
    top: -2px;
  }

  li img {
    height: 2em;
    width: 2em;
  }

  small {
    display: block;
    text-align: center;
  }
}

