@value variables: '../styles/variables.css';
@value background, invertedBackground, subBackground from variables;
@value foreground, off1, link, linkHover from variables;
@value border from variables;
@value footerLink, footerLinkHover from variables;

:global body {
  background: background;
  color: foreground;
}

:global .headroom--pinned {
  box-shadow: 0 0 1px border;
}

:global h4 {
  color: off1;
}

:global a {
  color: link;
}

:global a:hover,
:global a:active {
  color: linkHover;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 40rem;
  padding: 0 1rem;
}

.mainHeader {
  composes: wrapper;
  background: background;
  padding: 1rem;
}

.title {
  margin: 0;
}

.homeLink {
  color: inherit;
}

.mainWrapper {
  box-shadow: 0 1em 1em rgba(0,0,0,0.05);
  margin-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

.main {
  composes: wrapper;
}

.footer {
  background: subBackground;
}

.footerWrapper {
  composes: wrapper;
  max-width: 28rem;
  padding: 3rem 1rem;
  position: relative;
}

.avatar {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .footer {
    margin-left: -30px;
  }

  .avatar {
    left: -60px;
    position: absolute;
    top: 3.5em
  }
}

.footer p {
  margin-bottom: 0.5em;
}

.footer ul {
  display: flex;
  flex-direction: row;
  margin: 2em auto;
  list-style: none;
}

.footer li {
  flex: 1 1;
  text-align: center;
}

.footer a {
  color: footerLink;
}

.footer li a {
  position: relative;
  top: 0;
  transition: top 0.2s ease-out;
}

.footer a:hover {
  color: footerLinkHover;
}

.footer li a:hover {
  top: -2px;
}

.footer li img {
  height: 2em;
  width: 2em;
}

.footer small {
  display: block;
  text-align: center;
}
