@use '../styles/variables';
@use '../styles/mixins';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: variables.$background;
  color: variables.$foreground;
  font-display: swap;
}

.everything {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:global(.headroom--pinned) {
  box-shadow: 0 0 1px variables.$border;
}

h4 {
  color: variables.$off1;
}

a {
  color: variables.$link;
}

a:hover,
a:active {
  color: variables.$linkHover;
}

details {
  background: variables.$altBackground;
  overflow: hidden;
  padding: 1rem 1rem 0;
}

summary {
  cursor: pointer;
  margin-bottom: 1rem;
}

.mainHeader {
  @include mixins.wrapper;
  background: variables.$background;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.title {
  margin: 0;
}

.homeLink {
  color: inherit;
}

.mainWrapper {
  box-shadow: 0 1em 1em rgba(0,0,0,0.05);
  flex-grow: 1;
  margin-top: 3rem;
  padding-bottom: 4rem;
  position: relative;
}

.main {
  @include mixins.wrapper;
}

